{% extends "baker/base.html" %}
<!-- Esse statement serve para destacar que estou me reaproveitando do HTML no base.html-->
{% load static %}
<!-- Esse statement serve para garantir o carregamento de elementos estaticos-->
{% block content %}
<div class="row">
	<div class="col-lg">
		<div class="box-element">
            <a class="btn btn btn-light" href="{% url 'cart-products' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5ZM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5Z"/>
                </svg>
                Voltar para produtos 
           </a>
            <!-- &#x isso daki possibilita o uso de html elements https://www.w3schools.com/charsets/ref_utf_arrows.asp-->
        <br>
        <br>
        <table class="table">
            <tabl>
                <th><h5>N.º de itens <strong>{{order.table_total_quantity}}</strong></h5></th>
                <!-- Provavel consulta de API aqui -->
                <th><h5>Total por dia <strong> R$ {{order.table_total_price}}</strong></h5></th>
                <th>
                    <a id="checkout-button" style="float:right; margin:5px;" class="btn btn-success"  onclick=checkEmptyData(event) href="{% url 'cart-checkout' %}">Checkout</a>
                </th>
            </tr>
        </table>
		</div>
        <br>
        <br>
		<div class="box-element">
            <div class="cart-row">
                <div style="flex:2"></div>
                <div style="flex:2"><strong>Item</strong></div>
                <div style="flex:1"><strong>Preço</strong></div>
                <div style="flex:1"><strong>Quantidade</strong></div>
                <div style="flex:1"><strong>Total</strong></div>
            </div>
            {%for item in items %}
                <div class="cart-row">
                    <div style="flex:2"><img class="row-image" src="{{ item.product_id.imageURL}}" width="40" height="60"></div>
                    <!-- Para acessar objetos de dataframes associados você tem que se utilizar de foreignkeys -->
                    <div style="flex:2"><p>{{ item.product_id.product_name }}</p></div>
                    <div style="flex:1"><p>R${{ item.product_id.product_price|floatformat:2 }}</p></div>
                    <div style="flex:1">
                        <p class="quantity">{{ item.quantity }}</p>
                        <div class="quantity">
                            <img data-product = {{item.product_id.id}} data-action = "add" class="chg-quantity update-cart" src="{% static  'images/arrow-up.png' %}">

                            <img data-product = {{item.product_id.id}} data-action = "remove" class="chg-quantity update-cart" src="{% static  'images/arrow-down.png' %}">
                        </div>
                    </div>
                    <div style="flex:1"><p>R${{ item.row_price|floatformat:2 }}</p></div>         
                </div>
            {% endfor %}
		</div>
	</div>
</div>
<script>
    var total = '{{order.table_total_price|floatformat:2}}'
    function checkEmptyData(e){
        if(total == 0){
            e.preventDefault();
            Swal.fire({
                icon:'error',
                title: 'Nyan cat disse que você precisa selecionar pelo menos um produto!',
                width: 600,
                padding: '3em',
                color: '#dd6a72',
                backdrop: `
                rgba(255, 0, 0, 0.4)
                url("/images/nyan-cat-1.gif")
                center top
                no-repeat
                `
            });
        }
    }    
</script>
{% endblock content %}