{% extends "baker/base.html" %}
<!-- Esse statement serve para destacar que estou me reaproveitando do HTML no base.html-->
{% load static %}
<!-- Esse statement serve para garantir o carregamento de elementos estaticos-->
{% block content %}
    <div class="row">
        {% for product in products %}
            <div class="col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="{{ product.imageURL}}" width="369" height="260" alt="Card image cap">
                    <!-- Imagens precisam da url exata para serem disponibilizada -->
                    <div class="card-body">
                    <h5 class="card-title">{{product.product_name}}</h5>
                    <p class="card-text">{{product.product_description}}</p>
                    <p class="card-text"><small class="text-muted">Última alteração de preço no dia {{ product.product_date_insertion|date:"M d, y" }}</small></p>
                    <button  class="btn btn-outline-secondary add-btn">Adicionar ao carrinho</button>
                    <a class="btn btn-outline-success" href="#">View</a>
                    <h4 style="display: inline-block; float: right"><strong>R${{product.product_price|floatformat:2}}</strong></h4>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
